body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    line-height: 1.6;
}

h1 {
    color: #EEEEEE;
    margin-top: 15px;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

input {
    background-color: #EEEEEE;
    color: #323232;
    width: 500px;
    padding: 0.75rem 1rem;
    border: 1px solid #000000;
    border-radius: 0.3rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0.5rem 1.5rem;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: #2e1525;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #659194;
}

#top-songs {
    color: #222831;
    font-size: 1.2rem;
}

.top-songs-div {
    margin-top: -2px;
    background-color: #e0e0e0;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 8px;
    border: 5px solid #76ABAE;
}

.top-songs-div strong{
    font-size: 1.4rem;
}

.top-songs-div ul li {
    margin-left: -18px;
    padding-left: -18px;
}

.artist-photo {
    min-height: 260px;
    max-height: 260px;
    padding: 0px;
    border: 5px solid #76ABAE;
    border-radius: 8px;
}

.box {
    display: flex;
    gap: 15px;
}

#lista-koncertow {
    list-style-type: none;
    padding: 0px;
    width: 99%;
    margin-top: 0px;
    color: #222831;
    
}

#lista-koncertow li {
  background-color: #e0e0e0;
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  border: 5px solid #76ABAE;
}

#lista-koncertow li strong {
  font-size: 1.3rem;
  color: #659194;
}

#lista-koncertow li br {
  margin-bottom: 5px;
  color: #EEEEEE;
}

.text {
    color: #EEEEEE;
    font-size: larger;
    margin-bottom: -5px;
}

.upcoming {
    color: #EEEEEE;
    font-size: 1.7rem;
    margin: 0px;
    margin-bottom: 7px;
}

.link {
    padding: 0;
    margin: 0;
    margin-top: -5px;
    color: #e0e0e0;
    font-size: large;
}

.link:hover {
    color: #76ABAE;
}

.loading {
    color: #EEEEEE;
    font-size: larger;
    margin-top: -10px;
}

.login-div {
    margin: 0px;
    border: 5px solid #76ABAE;
    border-radius: 8px;
    padding: 15px 20px;
}

.login-div h1 {
    margin-top: 0px;
}